PORT=3000
NODE_ENV=development

# Database Connection (PostgreSQL / Supabase / Neon)
DATABASE_URL="postgresql://nexo_user:nexo_password@localhost:5432/nexo_db?schema=public"

# Redis Queue Connection (BullMQ / Local Docker / Upstash)
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD=""
